<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <% if usaprays? %>
        <%#= link_to "USA Prays", root_path, class: "brand" %>
        <%= link_to "USA Prays", "/", class: "brand" %>
      <% else %>
        <%#= link_to "Public Servants' Prayer", root_path, class: "brand" %>
        <%= link_to "Public Servants' Prayer", "/", class: "brand" %>
      <% end %>


      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="active"><%= link_to "Find Your State", "/states" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
