<p style="text-align:center">
<% if usaprays? %>
  <%= link_to image_tag("cc-logo-611x137.png"), "http://www.capitolcom.org/", target: "_blank" %>
<% else %>
  <%= image_tag "psp-logo-small.png" %>
<% end %>
</p>
<hr />
<blockquote class="pull-right">
  <p><span class="lead">I exhort therefore,</span>
  that, first of all, supplications, prayers, intercessions, and giving of thanks, be made for all men;
  For kings, and for all that are in authority; that we may lead a quiet and peaceable life
  in all godliness and honesty.  For this is good and acceptable in the sight of God our Saviour;
  Who will have all men to be saved, and to come unto the knowledge of the truth.</p>
  <small>1 Timothy 2:1-4</small>
</blockquote>

<hr />
<hr />
<br />
<br />
