<%= auto_discovery_link_tag(:rss, "/states/#{params[:id]}/feed.rss") %>

<% content_for :page_title do %>
  <h1 class="page-header"><%= @state.name %></h1>
<% end %>

<% content_for :main do %>
  <div class="row-fluid">
    <h2 class="state-header">Legislators Being Prayed For Today</h2>
    <h3 class="date"><%= Date.current.strftime("%A, %B %-d, %Y") %></h3>
    <div class="">
      <% @legislators.each do |leader| %>
        <%= render :partial => 'leaders/profile', 
          formats: [:html], 
          locals: {leader: leader} %>
      <% end %>
    </div>
  </div>
<% end %>
