<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Clickable Map of USA ©Copyright ClickableMaps.com-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>USA Clickable Map using only HTML code</title>
<div align="center">
<p><a href="mailto:domer@challengewisconsin.org">Contact Supermileage USA</a></p>
<p>More useful links for Supermileage...</p>
</div>
</body></html>
