<!DOCTYPE html>
<html>
<body>

  <h1><B>About</B></h1>

<p><B>Welcome to the Public Servants Prayer!</B></p> 

<p>The Public Servants. Prayer is a ministry initiative started by Rev. Matthew Barnes who serves as State Director of Capitol Commission Indiana, a non-profit organization dedicated to reaching the capitol community for Christ (www.capitolcom.org).   What started in 2004 as a small prayer blog focused on Indiana.s elected officials has now developed to include all fifty states in the United States.  

The purpose of this site is to increase an individual.s awareness of elected leaders serving in public office across the United States as well as provide a practical means for one to fulfill the Scriptural mandate given in I Timothy 2:1-2, that being to pray for all in authority. 

The data contained in this site is provided and updated by KnowWho (www.knowwho.com).</p>

</body>

</html>

