<div>
  <ul class="thumbnails">
    <% legislative_body.each do |member| %>
      <li class="span2">
      <%= link_to state_leader_path(@state.code.downcase, member), class: "thumbnail" do %>
        <%= image_tag member.photo_src, class: "thumbnail-leader" %>
        <h4 class="thumbnail-leader"><%= member.name %></h4>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
